.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-header {
  width: 100%;
  height: 45px;
  background-color: #333;
}
.nav-wrapper {
  display: flex;
  height: 45px;
  max-width: 980px;
  justify-content: space-between;
  align-items: center;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  font-size: 0.9rem;
  margin: 0 auto;
  background-color: #333;
}

.nav-wrapper a {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.nav-wrapper a:hover {
  opacity: 0.75;
}

.page-header {
  color: #f6f6f6;
}

.subnav {
  width: 100%;
  height: auto;
  padding: 0 0 20px 0;
}

.subnav-container {
  width: inherit;
  height: auto;
  padding-bottom: 15px;
}

.subnav-inner {
  display: flex;
  max-width: 880px;
  margin: 0 auto;
  padding: 12px 0;
  justify-content: space-between;
}

.subnav-item {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  align-items: center;
}

.subnav-item p {
  margin: 8px 0 0;
  max-width: 77px;
}

.light {
  background-color: #f6f6f6;
  color: black;
}

.dark {
  background-color: #141414;
  color: #f6f6f6;
}

.half {
  width: 50%;
}

.small-caps {
  font-size: 0.35rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
